[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rBahadur"]
	path = rBahadur
	url = https://github.com/rborder/rbahadur
	shallow = true
	registered = true
